@import url('https://fonts.googleapis.com/css?family=Lato');

.site-banner .row {
  padding: 26px 14px;
  border-radius: 20px;
  background-color: lightskyblue;
}

.navbar-nav#social .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.title-text {
  color: white;
}

#intro {
  font-family: 'Lato', sans-serif;
  padding-top: 100px;
}

#logo {
  border-radius: 10%;
  max-width:50px;
}

#face {
  border-radius: 20px;
  width:442px;
}

#navbarNav a.active {
  color: lightskyblue;
}